body{
    background-color: rgb(222, 207, 207);
}

#canvas{
    width:900px;
    height: 800px;
}

#canvas {
    display: flex;
    align-items: center; /* Centraliza horizontalmente */
    justify-content: center; /* Centraliza verticalmente */
}


#canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

 